.archive-title
  color var(--color-font)
  font-weight normal
  margin-bottom 30px
  &:before
    font-family font-icon
  &.tag
    &:before
      content '\f02b'

.archive
  margin-bottom 50px
  article
    .post-content
      margin-bottom 5
