.entry
  .gist
    background var(--color-background)
    border 1px solid var(--color-basic)
    margin-top 15px
    padding 7px 15px
    border-radius 2px
    line-height 1.6
    overflow auto
    color var(--color-code)
    .gist-file
      border none
      font-family inherit
      margin 0
      font-size 0.9em
      .gist-data
        background none
        border-bottom none
        pre
          padding 0 !important
          font-family font-mono
      .gist-meta
        background none
        color var(--color-meta)
        margin-top 5px
        padding 0
        font-size 100%
        a
          color var(--color-link)
          &:visited
            color var(--color-link)

figure.highlight
  background var(--color-background)
  border 1px solid var(--color-basic)
  margin-top 15px
  padding 7px 15px
  border-radius 2px
  line-height 1.6
  overflow auto
  position relative
  font-size 0.9em
  figcaption
    color var(--color-meta)
    margin-bottom 5px
    a
      position absolute
      right 15px

  pre
    border none
    padding 0
    margin 0

  table
    margin-top 0
    border-spacing 0

  .gutter
    color var(--color-meta)
    padding 0
    padding-right 15px
    border 0
    border-right 1px solid var(--color-basic)
    text-align right
    cursor: default
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

  .code
    padding-left 15px
    border 0
    border-left 1px solid var(--color-background)
    color var(--color-code)

  .line
    height: 20px
    color var(--color-code)

  .line.marked
    background: var(--color-code-marked)

pre
  .diff .header
  .doctype
  .pi
  .lisp .string
  .javadoc
  .comment
    color var(--color-code-gray)
    font-style italic

  .keyword
  .winutils
  .method
  .addition
  .css .tag
  .request
  .status
  .nginx .title
    color var(--color-code-green)

  .number
  .command
  .string
  .tag .value
  .phpdoc
  .tex .formula
  .regexp
  .hexcolor
    color var(--color-code-cyan)

  .title
  .localvars
  .chunk
  .decorator
  .built_in
  .identifier
  .vhdl
  .literal
  .id
    color var(--color-code-blue)

  .attribute
  .variable
  .lisp .body
  .smalltalk .number
  .constant
  .class .title
  .parent
  .haskell .type
    color var(--color-code-purple)

  .preprocessor
  .preprocessor .keyword
  .shebang
  .symbol
  .symbol .string
  .diff .change
  .special
  .attr_selector
  .important
  .subst
  .cdata
  .clojure .title
    color var(--color-code-orange)

  .deletion
    color var(--color-code-red)
